# Predicting Temperature with RNN

In [1]:
!pip install tensorflow-gpu==2.0.0.beta0

Requirement already satisfied: tensorflow-gpu==2.0.0.beta0 in /usr/local/lib/python3.6/dist-packages (2.0.0b0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (0.1.7)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (3.7.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (1.1.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (1.12.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (1.1.0)
Requirement already satisfied: tb-nightly<1.14.0a20190604,>=1.14.0a20190603 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (1.14.0a20190603)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (1.11.1)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (0.8.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (0.33.4)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (0.7.1)
Requirement already satisfied: tf-estimator-nightly<1.14.0.dev2019060502,>=1.14.0.dev2019060501 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (1.14.0.dev2019060501)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (0.2.2)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (1.0.8)
Requirement already satisfied: numpy<2.0,>=1.14.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (1.16.2)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0.beta0) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.6.1->tensorflow-gpu==2.0.0.beta0) (41.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tb-nightly<1.14.0a20190604,>=1.14.0a20190603->tensorflow-gpu==2.0.0.beta0) (3.1.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tb-nightly<1.14.0a20190604,>=1.14.0a20190603->tensorflow-gpu==2.0.0.beta0) (0.15.4)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.6->tensorflow-gpu==2.0.0.beta0) (2.8.0)

In [2]:
#this version of numpy is required to avoid an error related to numpy defaulting to not allowing pickle files
!pip install numpy==1.16.2

Requirement already satisfied: numpy==1.16.2 in /usr/local/lib/python3.6/dist-packages (1.16.2)

In [3]:
!pip install pandas==0.24

Requirement already satisfied: pandas==0.24 in /usr/local/lib/python3.6/dist-packages (0.24.0)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.24) (1.16.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.24) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.24) (2.5.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas==0.24) (1.12.0)

In [0]:
import tensorflow as tf
from tensorflow.keras import datasets, preprocessing, models, layers
import numpy as np
import pandas as pd

## Connect to Google Drive

In [5]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
df = pd.read_csv('/content/gdrive/My Drive/temperature/jena_climate_2009_2016.csv')

## Work with Temperature Data Only

In [0]:
df = df[['Date Time', 'T (degC)']]
df['DateTime'] = pd.to_datetime(df['Date Time'], format="%d.%m.%Y %H:%M:%S")

In [8]:
df.set_index(['DateTime'])

                               Date Time  T (degC)
DateTime
2009-01-01 00:10:00  01.01.2009 00:10:00     -8.02
2009-01-01 00:20:00  01.01.2009 00:20:00     -8.41
2009-01-01 00:30:00  01.01.2009 00:30:00     -8.51
2009-01-01 00:40:00  01.01.2009 00:40:00     -8.31
2009-01-01 00:50:00  01.01.2009 00:50:00     -8.27
2009-01-01 01:00:00  01.01.2009 01:00:00     -8.05
2009-01-01 01:10:00  01.01.2009 01:10:00     -7.62
2009-01-01 01:20:00  01.01.2009 01:20:00     -7.62
2009-01-01 01:30:00  01.01.2009 01:30:00     -7.91
2009-01-01 01:40:00  01.01.2009 01:40:00     -8.43
2009-01-01 01:50:00  01.01.2009 01:50:00     -8.76
2009-01-01 02:00:00  01.01.2009 02:00:00     -8.88
2009-01-01 02:10:00  01.01.2009 02:10:00     -8.85
2009-01-01 02:20:00  01.01.2009 02:20:00     -8.83
2009-01-01 02:30:00  01.01.2009 02:30:00     -8.66
2009-01-01 02:40:00  01.01.2009 02:40:00     -8.66
2009-01-01 02:50:00  01.01.2009 02:50:00     -8.70
2009-01-01 03:00:00  01.01.2009 03:00:00     -8.81
2009-01-01 03:10:00  01.01.2009 03:10:00     -8.84
2009-01-01 03:20:00  01.01.2009 03:20:00     -8.94
2009-01-01 03:30:00  01.01.2009 03:30:00     -8.94
2009-01-01 03:40:00  01.01.2009 03:40:00     -8.86
2009-01-01 03:50:00  01.01.2009 03:50:00     -8.99
2009-01-01 04:00:00  01.01.2009 04:00:00     -9.05
2009-01-01 04:10:00  01.01.2009 04:10:00     -9.23
2009-01-01 04:20:00  01.01.2009 04:20:00     -9.49
2009-01-01 04:30:00  01.01.2009 04:30:00     -9.50
2009-01-01 04:40:00  01.01.2009 04:40:00     -9.35
2009-01-01 04:50:00  01.01.2009 04:50:00     -9.47
2009-01-01 05:00:00  01.01.2009 05:00:00     -9.63
...                                  ...       ...
2016-12-31 19:10:00  31.12.2016 19:10:00     -0.98
2016-12-31 19:20:00  31.12.2016 19:20:00     -1.40
2016-12-31 19:30:00  31.12.2016 19:30:00     -1.47
2016-12-31 19:40:00  31.12.2016 19:40:00     -1.61
2016-12-31 19:50:00  31.12.2016 19:50:00     -1.65
2016-12-31 20:00:00  31.12.2016 20:00:00     -1.52
2016-12-31 20:10:00  31.12.2016 20:10:00     -1.40
2016-12-31 20:20:00  31.12.2016 20:20:00     -2.15
2016-12-31 20:30:00  31.12.2016 20:30:00     -3.19
2016-12-31 20:40:00  31.12.2016 20:40:00     -3.30
2016-12-31 20:50:00  31.12.2016 20:50:00     -3.46
2016-12-31 21:00:00  31.12.2016 21:00:00     -3.09
2016-12-31 21:10:00  31.12.2016 21:10:00     -2.75
2016-12-31 21:20:00  31.12.2016 21:20:00     -2.61
2016-12-31 21:30:00  31.12.2016 21:30:00     -2.51
2016-12-31 21:40:00  31.12.2016 21:40:00     -2.48
2016-12-31 21:50:00  31.12.2016 21:50:00     -2.48
2016-12-31 22:00:00  31.12.2016 22:00:00     -2.59
2016-12-31 22:10:00  31.12.2016 22:10:00     -2.89
2016-12-31 22:20:00  31.12.2016 22:20:00     -3.22
2016-12-31 22:30:00  31.12.2016 22:30:00     -4.08
2016-12-31 22:40:00  31.12.2016 22:40:00     -4.45
2016-12-31 22:50:00  31.12.2016 22:50:00     -4.09
2016-12-31 23:00:00  31.12.2016 23:00:00     -3.76
2016-12-31 23:10:00  31.12.2016 23:10:00     -3.93
2016-12-31 23:20:00  31.12.2016 23:20:00     -4.05
2016-12-31 23:30:00  31.12.2016 23:30:00     -3.35
2016-12-31 23:40:00  31.12.2016 23:40:00     -3.16
2016-12-31 23:50:00  31.12.2016 23:50:00     -4.23
2017-01-01 00:00:00  01.01.2017 00:00:00     -4.82

[420551 rows x 2 columns]

## Extract Time Series Data

In [0]:
time_series_df = df.set_index(['DateTime'])

In [10]:
time_series_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 420551 entries, 2009-01-01 00:10:00 to 2017-01-01 00:00:00
Data columns (total 2 columns):
Date Time    420551 non-null object
T (degC)     420551 non-null float64
dtypes: float64(1), object(1)
memory usage: 9.6+ MB

In [0]:
time_series_df.drop(['Date Time'], axis=1, inplace=True)

## Resample to Mean Daily Temperature

In [12]:
mean_daily_temp = time_series_df.resample('D').mean()
mean_daily_temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2923 entries, 2009-01-01 to 2017-01-01
Freq: D
Data columns (total 1 columns):
T (degC)    2921 non-null float64
dtypes: float64(1)
memory usage: 45.7 KB

In [0]:
test_daily_temp = mean_daily_temp['2016']
train_daily_temp = mean_daily_temp['2009':'2015']

## Reset Indices

In [14]:
test_daily_temp.reset_index(inplace=True)
test_daily_temp.reset_index(inplace=True)
test_daily_temp.head()

   index   DateTime  T (degC)
0      0 2016-01-01  0.249236
1      1 2016-01-02 -0.975486
2      2 2016-01-03 -1.578056
3      3 2016-01-04 -2.081111
4      4 2016-01-05 -1.761319

In [15]:
train_daily_temp.reset_index(inplace=True)
train_daily_temp.reset_index(inplace=True)
train_daily_temp.head()

   index   DateTime  T (degC)
0      0 2009-01-01 -6.810629
1      1 2009-01-02 -3.728194
2      2 2009-01-03 -5.271736
3      3 2009-01-04 -1.375208
4      4 2009-01-05 -4.867153

## Extract Time Steps

In [0]:
train_x = train_daily_temp[['index']].to_numpy()
train_y = train_daily_temp[['T (degC)']].to_numpy()

In [17]:
print(train_x.shape)

(2556, 1)

In [0]:
test_x = test_daily_temp[['index']].to_numpy()
test_y = test_daily_temp[['T (degC)']].to_numpy()

## Create Generator

In [0]:
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator

In [0]:
N_INPUT = 128
BATCH_SIZE = 64

In [0]:
train_gen = TimeseriesGenerator(train_x, train_y, length=N_INPUT, sampling_rate=7, batch_size=BATCH_SIZE)

In [22]:
print(len(train_gen))

38

In [23]:
batch_0 = train_gen[0]
x, y = batch_0
print(y.shape)

(64, 1)

In [24]:
print(x.shape)

(64, 19, 1)

In [0]:
test_gen = TimeseriesGenerator(test_x, test_y, length=N_INPUT, sampling_rate=7, batch_size=BATCH_SIZE)

## Define Dense Model

In [26]:
model = models.Sequential([
    layers.Dense(100, input_shape=(x.shape[1], x.shape[2]), activation='relu'),
    layers.Flatten(),
    layers.Dense(1)
])
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 19, 100)           200
_________________________________________________________________
flatten (Flatten)            (None, 1900)              0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 1901
=================================================================
Total params: 2,101
Trainable params: 2,101
Non-trainable params: 0
_________________________________________________________________
None

In [0]:
model.compile(optimizer='adam', loss='mse')

In [28]:
model.fit_generator(train_gen, epochs=5)

Epoch 1/5
38/38 [==============================] - 1s 20ms/step - loss: 4156.9733
Epoch 2/5
38/38 [==============================] - 0s 4ms/step - loss: 3740.8466
Epoch 3/5
38/38 [==============================] - 0s 5ms/step - loss: 1218.1204
Epoch 4/5
38/38 [==============================] - 0s 5ms/step - loss: 206.0146
Epoch 5/5
38/38 [==============================] - 0s 5ms/step - loss: 1723.9119

In [0]:
example = test_gen[0]
x, y = example
y_pred = model.predict(x)

In [30]:
print(len(y_pred))

64

In [31]:
print(y_pred[0])

[-3.234866]

In [32]:
print(y[0])

[17.23909722]

## Define RNN Model

In [33]:
rnn_model = models.Sequential([
    layers.SimpleRNN(100, input_shape=(x.shape[1], x.shape[2]), return_sequences=True, dropout=0.5, recurrent_dropout=0.5),
    layers.SimpleRNN(200, dropout=0.5, recurrent_dropout=0.5),
    layers.Dense(1)
])
print(rnn_model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
simple_rnn (SimpleRNN)       (None, 19, 100)           10200
_________________________________________________________________
simple_rnn_1 (SimpleRNN)     (None, 200)               60200
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 201
=================================================================
Total params: 70,601
Trainable params: 70,601
Non-trainable params: 0
_________________________________________________________________
None

In [34]:
rnn_model.compile(optimizer='adam', loss='mse')
rnn_model.fit_generator(train_gen, epochs=5)

Epoch 1/5
38/38 [==============================] - 3s 85ms/step - loss: 109.8673
Epoch 2/5
38/38 [==============================] - 1s 39ms/step - loss: 83.3086
Epoch 3/5
38/38 [==============================] - 1s 39ms/step - loss: 64.5330
Epoch 4/5
38/38 [==============================] - 1s 38ms/step - loss: 64.5437
Epoch 5/5
38/38 [==============================] - 1s 39ms/step - loss: 62.8350

In [35]:
y_pred = rnn_model.predict(x)
print(y_pred[0])

[9.827625]

## Define LSTM Model

In [36]:
lstm_model = models.Sequential([
    layers.Bidirectional(layers.LSTM(100, return_sequences=True, recurrent_dropout=0.5), input_shape=(x.shape[1], x.shape[2])),
    layers.Bidirectional(layers.LSTM(100, recurrent_dropout=0.5)),
    layers.Dense(1)
])
print(lstm_model.summary())

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
bidirectional (Bidirectional (None, 19, 200)           81600
_________________________________________________________________
bidirectional_1 (Bidirection (None, 200)               240800
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 201
=================================================================
Total params: 322,601
Trainable params: 322,601
Non-trainable params: 0
_________________________________________________________________
None

In [37]:
rnn_model.compile(optimizer='adam', loss='mse')
rnn_model.fit_generator(train_gen, epochs=5)

Epoch 1/5
38/38 [==============================] - 4s 102ms/step - loss: 65.4465
Epoch 2/5
38/38 [==============================] - 2s 46ms/step - loss: 61.6109
Epoch 3/5
38/38 [==============================] - 2s 48ms/step - loss: 62.5278
Epoch 4/5
38/38 [==============================] - 2s 50ms/step - loss: 62.2801
Epoch 5/5
38/38 [==============================] - 2s 47ms/step - loss: 62.1016

In [0]:
y_pred = rnn_model.predict(x)
print(y_pred[0])